.carousel-container {
  width: 100%; 
  overflow: hidden;
}

.react-responsive-carousel .carousel .carousel-item {
  width: 20%; 
  margin: 0 auto; 
}

.react-responsive-carousel .carousel .carousel-item img {
  width: 100%; 
  height: auto; 
}

@media (max-width: 600px) {
  .react-responsive-carousel .carousel .carousel-item {
      width: 50%; 
  }
}
