.carousel-container {
  padding: 20px 0; 
}

@media (max-width: 600px) {
  .react-responsive-carousel .carousel .carousel-item {
      width: 80vw; 
      max-width: 300px;
      height: auto; 
      margin: 0 auto;
  }

  .react-responsive-carousel .carousel .carousel-item img {
      width: 100%; 
      height: auto; 
  }
}
