.timeline-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  overflow-x: hidden;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.timeline-container.visible {
  opacity: 1;
  transform: translateY(0);
}

.timeline-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #3498db;
}

.progress-tracker {
  width: 5px;
  background-color: #ccc;
  position: relative;
  margin: 20px 0;
}

.progress-bar {
  width: 100%;
  background-color: #3498db;
  position: absolute;
  top: 0;
  left: 0;
  transition: height 0.5s ease;
}

.timeline {
  display: flex;
  flex-direction: column;
}

.timeline-event {
  border-left: 1px solid #3498db;
  padding: 15px;
  margin-bottom: 20px;
  position: relative;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.timeline-container.visible .timeline-event {
  opacity: 1;
  transform: translateY(0);
}

.timeline-event-header {
  font-weight: bold;
  color: #3498db;
  margin-bottom: 10px;
}

.timeline-event-description {
  color: white;
}

.timeline-event::before {
  content: '';
  width: 10px;
  height: 10px;
  background-color: #3498db;
  border-radius: 30%;
  position: absolute;
  left: -6px;
  top: 50%;
  transform: translateY(-50%);
}
